#intellij idea folder
.idea/
/Login$1.class
/Login$2.class
/Login$3.class
/Login.class
/Register$1.class
/Register$2.class
/Register.class
/SuperChooseFunctionalityPage.class
/SuperChooseFunctionalityPage$1.class
/SuperChooseFunctionalityPage$2.class
/SuperChooseFunctionalityPage$3.class
/SuperChooseFunctionalityPage$4.class
/SuperChooseFunctionalityPage$5.class
/ConnectDB.class

#classpath file and project file
.classpath
.project

/POI$1.class
/POI.class

