#intellij idea folder
.idea/
/Login$1.class
/Login$2.class
/Login$3.class
/Login.class
/Register$1.class
/Register$2.class
/Register.class
/SuperChooseFunctionalityPage.class
/SuperChooseFunctionalityPage$1.class
/SuperChooseFunctionalityPage$2.class
/SuperChooseFunctionalityPage$3.class
/SuperChooseFunctionalityPage$4.class
/SuperChooseFunctionalityPage$5.class
/ConnectDB.class

#classpath file and project file
.classpath
.project

/POI$1.class
/POI.class

/CityScientistAddNewDataPoint.class
/CityScientistAddNewDataPoint$1.class
/CityScientistAddNewDataPoint$2.class
/DatePicker$1.class
/DatePicker.class
/CityScientistAddNewLocation$1.class
/CityScientistAddNewLocation.class
/AdminRejectOrAccept$1.class
/AdminRejectOrAccept.class
/AdminRejectOrAcceptOfficials$1.class
/AdminRejectOrAcceptOfficials.class
/CityScientistAddNewLocation$2.class
/AdminRejectOrAccept$2.class
/CityScientistAddNewDataPoint$DateLabelFormatter.class
/DataPoint$1.class
/DataPoint$2.class
/DataPoint$3.class
/DataPoint$4.class
/DataPoint.class
/Location$1.class
/Location$2.class
/Location$3.class
/Location.class
/SuperChooseFunctionalityPage$6.class
/User.class
/CityScientistAddNewDataPoint$3.class
/AdminRejectOrAccept$3.class
/AdminRejectOrAcceptOfficials$2.class
/AdminRejectOrAcceptOfficials$3.class
/CityOfficialPOIDetail$1.class
/CityOfficialPOIDetail.class
/CityOfficialSearchFilterPOI$1.class
/CityOfficialSearchFilterPOI.class
/CityOfficialSearchFilterPOI$2.class
/CityOfficialSearchFilterPOI$3.class
/CityOfficialSearchFilterPOI$4.class
/CityOfficialSearchFilterPOI$5.class
/CityOfficialSearchFilterPOI$6.class
/CityOfficialSearchFilterPOI$7.class
/AdminRejectOrAcceptOfficials$4.class
/Register$3.class
/Register$4.class
